---
import '../styles/global.css';
---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro scaffold | AI Heroes</title>
  </head>
  <body class="bg-brand-light text-brand-dark font-sans">
    <h1 class="text-brand-red font-serif text-4xl p-12">Astro scaffold works</h1>
  </body>
</html>
